.faq{
    padding: 96px 0 128px 0;
    @include pad{
        padding: 60px 0 72px 0;
    }
    @include mobile{
        padding: 28px 0 36px 0;
    }
    h1{
        font-size: $font-size-48;
        border-left: 8px solid #9F1213;
        padding-left: 16px;
        margin-bottom: 60px;
        font-weight:bold;
        @include pad{
            margin-bottom: 40px;
        }
        @include mobile{
            font-size: $font-size-28;  
            padding-left: 8px;
            margin-bottom: 24px;
        }
    }
    h2{
        font-size: $font-size-32;
        margin-bottom: 36px;
        font-weight:bold;
        @include pad{
            margin-bottom: 32px;
        }
        @include mobile{
            font-size: $font-size-20;
            margin-bottom: 24px;
            font-weight:normal;
        }
    }
    &-question{
        font-weight:bold;
        font-size: $font-size-20;
        margin-bottom: 16px;
        @include pad{

        }
        @include mobile{
            font-size: $font-size-16;
            margin-bottom: 8px;
        }
    }
    &-list {
        margin-bottom: 32px;
        @include pad{
            margin-bottom: 24px;
        }
        @include pad{
            margin-bottom: 20px;
            font-size: $font-size-14;
        }
    }
    &-list :nth-child(3){
        @include mobile{
            margin-top: 21px;
        }
    }
}