
// nav和footer文字
$nav-footer-color:#ffffff;
// nav和footer背景
$nav-footer-background-color:#AA0601;

//主色
$color-primary: #650300;

//文字大小
$font-size-base: 16px;
$font-size-64: $font-size-base * 4;
$font-size-48: $font-size-base * 3;
$font-size-36: $font-size-base * 2.25;
$font-size-32: $font-size-base * 2;
$font-size-20: $font-size-base * 1.25;
$font-size-16: $font-size-base * 1;
$font-size-14: $font-size-base - 2;