/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1.5; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans', 'Roboto', sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  text-decoration: none;
  display: block; }

.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .container {
      max-width: 690px;
      padding: 0 39px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 345px;
      padding: 0 15px; } }

.nav {
  background: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px 29.43px 88px; }
  @media (max-width: 375px) {
    .nav img {
      padding: 15px 0; } }
  @media (max-width: 768px) {
    .nav {
      padding: 30px 39px 29.43px 39px; } }
  @media (max-width: 375px) {
    .nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }
  @media (max-width: 375px) {
    .nav-item {
      width: 50%;
      border: 1px solid #ffffff;
      text-align: center; } }
  .nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 32px;
    text-align: center;
    width: 80px;
    height: 29px; }
    @media (max-width: 768px) {
      .nav-link {
        width: 100%;
        height: 100%;
        padding: 0 20px; } }
    @media (max-width: 375px) {
      .nav-link {
        width: 50%;
        padding: 8px 0; } }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 375px) {
      .nav-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.header {
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
  background-size: cover;
  background-position: center;
  padding: 348px 0 352px 0;
  text-align: right;
  color: #650300; }
  .header h1 {
    font-size: 64px; }
    @media (max-width: 768px) {
      .header h1 {
        font-size: 48px; } }
    @media (max-width: 375px) {
      .header h1 {
        font-size: 32px; } }
  .header h2 {
    font-size: 36px; }
    @media (max-width: 768px) {
      .header h2 {
        font-size: 16px; } }

.footer {
  background: #AA0601;
  color: #ffffff; }
  .footer a {
    color: #ffffff;
    font-size: 16px; }
  .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 44px 0 36px 0; }
    @media (max-width: 768px) {
      .footer-top {
        padding: 32px 0 25px 0; } }
  .footer-container {
    padding: 25px 0 0 0;
    border-bottom: 1px solid #FFFFFF; }
    @media (max-width: 375px) {
      .footer-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse; } }
  .footer-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 375px) {
      .footer-menu-list {
        display: none; } }
  .footer-menu-items {
    margin-right: 48px; }
    @media (max-width: 768px) {
      .footer-menu-items {
        margin-right: 20px; } }
  .footer-icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-icon-list img {
      margin-left: 32px; }
      @media (max-width: 768px) {
        .footer-icon-list img {
          margin-left: 24px;
          max-width: 24px; } }
  .footer-content-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8px; }
  .footer-content-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px; }
    .footer-content-items img {
      max-width: 48px;
      margin-right: 16px; }
      @media (max-width: 768px) {
        .footer-content-items img {
          max-width: 24px; } }
      @media (max-width: 375px) {
        .footer-content-items img {
          max-width: 20px;
          margin-right: 6.5px; } }
    .footer-content-items h2 {
      font-size: 36px; }
      @media (max-width: 768px) {
        .footer-content-items h2 {
          font-size: 20px; } }
      @media (max-width: 375px) {
        .footer-content-items h2 {
          font-size: 16px; } }
  .footer-bottom {
    padding: 32px 0 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 375px) {
      .footer-bottom {
        font-size: 14px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer-bottom-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 375px) {
        .footer-bottom-list {
          display: block; } }
    .footer-bottom-items {
      margin-left: 48px; }
      @media (max-width: 768px) {
        .footer-bottom-items {
          font-size: 14px; } }
      @media (max-width: 375px) {
        .footer-bottom-items {
          font-size: 14px;
          margin: 8px 0 0 0; } }

.faq {
  padding: 96px 0 128px 0; }
  @media (max-width: 768px) {
    .faq {
      padding: 60px 0 72px 0; } }
  @media (max-width: 375px) {
    .faq {
      padding: 28px 0 36px 0; } }
  .faq h1 {
    font-size: 48px;
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 60px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .faq h1 {
        margin-bottom: 40px; } }
    @media (max-width: 375px) {
      .faq h1 {
        font-size: 28px;
        padding-left: 8px;
        margin-bottom: 24px; } }
  .faq h2 {
    font-size: 32px;
    margin-bottom: 36px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .faq h2 {
        margin-bottom: 32px; } }
    @media (max-width: 375px) {
      .faq h2 {
        font-size: 20px;
        margin-bottom: 24px;
        font-weight: normal; } }
  .faq-question {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px; }
    @media (max-width: 375px) {
      .faq-question {
        font-size: 16px;
        margin-bottom: 8px; } }
  .faq-list {
    margin-bottom: 32px; }
    @media (max-width: 768px) {
      .faq-list {
        margin-bottom: 24px; } }
    @media (max-width: 768px) {
      .faq-list {
        margin-bottom: 20px;
        font-size: 14px; } }
  @media (max-width: 375px) {
    .faq-list :nth-child(3) {
      margin-top: 21px; } }

.location {
  padding: 96px 0 128px 0; }
  @media (max-width: 768px) {
    .location {
      padding: 60px 0 72px 0; } }
  @media (max-width: 375px) {
    .location {
      padding: 28px 0 36px 0; } }
  .location h1 {
    font-size: 48px;
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 60px;
    font-weight: bold; }
    @media (max-width: 768px) {
      .location h1 {
        margin-bottom: 40px; } }
    @media (max-width: 375px) {
      .location h1 {
        font-size: 28px;
        padding-left: 8px;
        margin-bottom: 24px; } }
  .location-choose-store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 32px; }
    @media (max-width: 768px) {
      .location-choose-store {
        margin-bottom: 24px; } }
    @media (max-width: 375px) {
      .location-choose-store {
        margin-bottom: 20px; } }
    .location-choose-store h3 {
      width: 96px;
      font-size: 24px;
      margin-right: 20px; }
      @media (max-width: 768px) {
        .location-choose-store h3 {
          width: 64px;
          font-size: 16px; } }
      @media (max-width: 375px) {
        .location-choose-store h3 {
          width: 56px;
          margin-right: 12px;
          font-size: 14px; } }
  .location-select {
    width: 324px;
    height: 54px;
    font-size: 18px;
    color: #495057;
    border: 1px solid #CED4DA; }
    @media (max-width: 768px) {
      .location-select {
        font-size: 16px;
        max-width: 237px;
        height: 46px; } }
    @media (max-width: 375px) {
      .location-select {
        font-size: 14px;
        width: 277px;
        height: 36px; } }
  .location-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .location-content-list {
      max-width: 31.3333%;
      margin-right: 22px;
      margin-bottom: 32px; }
      @media (max-width: 768px) {
        .location-content-list {
          max-width: 48%;
          margin-right: 10px;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; } }
      @media (max-width: 375px) {
        .location-content-list {
          max-width: 100%; } }
      .location-content-list img {
        width: 350px;
        height: 230px; }
      .location-content-list h2 {
        border: 1px solid #00000020;
        font-size: 24px;
        padding: 12px 0 12px 24px; }
      .location-content-list button {
        width: 100%;
        height: 67px;
        background: #000;
        color: white; }
    .location-content-list-msg {
      padding: 16px 23.96px 16px 27px;
      border: 1px solid #00000020; }
      @media (max-width: 768px) {
        .location-content-list-msg {
          padding: 16px 28px 16px 24px; } }
    .location-content-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 20px;
      margin-bottom: 8px; }
      @media (max-width: 768px) {
        .location-content-items {
          font-size: 14px; } }
      .location-content-items img {
        margin-top: 5px;
        margin-right: 8.04px;
        width: 18px;
        height: 18px; }
        @media (max-width: 768px) {
          .location-content-items img {
            margin-top: 2.67px;
            width: 15px;
            height: 15px; } }

/*# sourceMappingURL=all.css.map */
